{{#each this}}
<li class="slider__item slide-{{name}} visuallyhidden" data-slider-item>
    <picture>
        <source srcset="
                  src/images/slider-{{name}}-desktop-1125.webp 1125w,
                  src/images/slider-{{name}}-desktop-2250.webp 2250w
                " media="(min-width: 1280px)" type="image/webp" />
        <source srcset="
                  src/images/slider-{{name}}-tablet-609.webp   609w,
                  src/images/slider-{{name}}-tablet-1218.webp 1218w
                " media="(min-width: 768px)" type="image/webp" />
        <source srcset="
                  src/images/slider-{{name}}-mobile-480.webp 480w,
                  src/images/slider-{{name}}-mobile-960.webp 960w
                " media="(max-width: 768px)" type="image/webp" />
        <source srcset="
                  src/images/slider-{{name}}-desktop-1125.jpg 1125w,
                  src/images/slider-{{name}}-desktop-2250.jpg 2250w
                " media="(min-width: 1280px)" />
        <source srcset="
                  src/images/slider-{{name}}-tablet-609.jpg   609w,
                  src/images/slider-{{name}}-tablet-1218.jpg 1218w
                " media="(min-width: 768px)" />
        <source srcset="
                  src/images/slider-{{name}}-mobile-480.jpg 480w,
                  src/images/slider-{{name}}-mobile-960.jpg 960w
                " media="(max-width: 768px)" />
        <img class="slider__image" src="src/images/slider-{{name}}-mobile-480.jpg" alt="barber-{{name}}"
            sizes="(min-width: 1280px) 90vw, (min-width: 768px) 80vw,  100vw" />
    </picture>
</li>
{{/each}}