{{#each this}}
<li class="team-list__item">
    <picture>
        <source
            srcset="src/images/team-{{img-ref-name}}-desktop-370.webp 370w, src/images/team-{{img-ref-name}}-desktop-740.webp 740w"
            media="(min-width: 1280px)" type="image/webp" />
        <source srcset="
              src/images/team-{{img-ref-name}}-tablet-450.webp 450w,
              src/images/team-{{img-ref-name}}-tablet-900.webp 900w
            " media="(min-width: 768px)" type="image/webp" />
        <source srcset="
              src/images/team-{{img-ref-name}}-mobile-418.webp 418w,
              src/images/team-{{img-ref-name}}-mobile-836.webp 836w
            " media="(max-width: 768px)" type="image/webp" />
        <source srcset="
              src/images/team-{{img-ref-name}}-desktop-370.jpg 370w,
              src/images/team-{{img-ref-name}}-desktop-740.jpg 740w
            " media="(min-width: 1280px)" />
        <source srcset="
              src/images/team-{{img-ref-name}}-tablet-450.jpg 450w,
              src/images/team-{{img-ref-name}}-tablet-900.jpg 900w
            " media="(min-width: 768px)" />
        <source srcset="
              src/images/team-{{img-ref-name}}-mobile-418.jpg 418w,
              src/images/team-{{img-ref-name}}-mobile-836.jpg 836w
            " media="(max-width: 768px)" />
        <img loading="lazy" class="team-list__image lazyload" data-src="src/images/team-{{img-ref-name}}-mobile-418.jpg"
            alt="Barber {{full-name}}" sizes="(min-width: 1280px) 33vw, (min-width: 768px) 65vw,  100vw" />
    </picture>
    <p class="team-list__name">{{full-name}}</p>
    <p class="team-list__position">{{occupation}}</p>
    <ul class="socialmedia team-list__socialmedia" id="socialmedia">
        {{#each this.social}}
        <li class="socialmedia__item">
            <a class="socialmedia__link" href="https://www.{{name}}.com/" target="_blank" rel="noopener noreferrer"
                aria-label="Ссылка на {{name-ru}}">
                <svg class="socialmedia__icon" width="20" height="20">
                    <use href="src/images/svg-sprite.svg#icon-social-{{name}}"></use>
                </svg>
            </a>
        </li>
        {{/each}}
    </ul>
</li>
{{/each}}